#gallery-section-styles {
  .gallery-card {
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 500px;
    max-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 40px;
    gap: 10px;

    .description{
        color: #9A9AB0;
    }
    img{
        padding: 20px 0;
        width: 40px;
    }
  }
}
